name: Sync Wiki

on:
  push:
    branches:
      - main
    paths:
      - 'wiki/**'

permissions:
  contents: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  update-wiki:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Sync to Wiki
        uses: Andrew-Chen-Wang/github-wiki-action@v4
        with:
          path: wiki/
          repository: ${{ github.repository }}
          token: ${{ secrets.GITHUB_TOKEN }}
